@media (max-width: 739px){
    /* header */
    .header{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px !important;
        max-width: 100%;
    }

    .header__logo,.split, .header__menu-wrap,.header__radio-live{
        display: none;
    }

    .header__menu-songs--new{
        display: flex;
        align-items: center;
    }

    .header__menu-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px 32px 0 0;
    }

    .header__menu-icon {
        padding-bottom: 5px;
    }

    .header__menu-title{
        font-size: 1rem;
    }

    .header__menu-title-radio{
        padding-top: 5px;
    }

    .slide__item{
        width: 466px !important;
    }

    /* music bar */
    .music--bar{
        position: fixed;
        bottom: 60px;
        left: 0;
        right: 0;
        height: 60px;
        /* max-width: 739px; */
        /* display: none; */
    }

    .btn.btn-none, .progress-container, .extension, .icon-ellipsis{
        display: none;
    }

    .control .btn-toggle-play{
        border: none;
    }

    .info-song{
        width: 500px;
        padding-left: 15px;
    }

    .info-song--img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .info-song--extension{
        padding-left: 10px;
    }

    .control-wrap{
        max-width: 120px;     
    }

    .control .btn {
        padding: 0 6px;
    }

    /* body */
    .body{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 8px 20px 160px 16px;
        overflow: hidden;
    }
    /* search */
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;       
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        max-width: 739px;
        padding: 0;
    }

    .navigation__arrow, .function__item.function__item-none{
        display: none;
    }

    .search__box{
        position: absolute;
        right: 36px;
        top: 10px;
        display: flex;
        align-items: center;
        height: 35px;
        max-width: 280px;
        padding: 0 8px ;
    }

    .function__item .avt{
        position: absolute;
        left: 3px;
        top: 10px;
    }


    .notification{
        display: block;
        position: absolute;
        right: 8px;
        cursor: pointer;
    }

    .icon-bell{
        font-size: 2.3rem;
        color: rgb(207, 201, 201);
    }


    /* discover */
    .banner__img{
        max-width: 100%;
        max-height: 100%;
    }

    .choice-item{
        padding-left: 5px;
    }

    #line_chart{
        max-width: 100% !important;
        max-height: 220px !important;
    }

    .zingchart-week{
        display: none;
    }

    .radio-list, .favorite-artist-list, .lists-choice{
        width: 100%;
        overflow-x: scroll;
    }

    .radio-list::-webkit-scrollbar,
     .favorite-artist-list::-webkit-scrollbar,
     .lists-choice::-webkit-scrollbar{
        background-color: var(--background-color);
    }

    
    .radio-item{
        width: 115px;
    }

    .image-big-wrap{
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;    
        
    }
    
    .radio-img--big{ 
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;    
    }

    .album, .time, .title-table{
        display: none;
    }

    /* advertisement */
    .advertisement{
        display: none;
    }

    .advertisement-content{
        max-width: 800px;
        max-height: 400px;
        margin: auto;
    }

    .advertisement-close{
        float: left;
    }

    #toast{
        position: fixed;
        top: 20px;
        right: 15px;
        z-index: 1000;
    
    }

    .toast{
        width: 380px;
        height: 50px;
    }


}


@media (min-width: 740px) and (max-width: 1340px){
    .body{
        max-width: 1060px;
        padding: 0 47px;
        padding-bottom: 160px;

    }
}